only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=esbuild
only-built-dependencies[]=lmdb
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=playwright
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
